soap/ClienteSoap/ClienteSoap/Connected Services/SOAP/redes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://prueba" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://prueba" targetNamespace="http://prueba" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://prueba">
      <xsd:element name="validarut">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Rut" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validarutReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nombrepropio">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Nombres" type="xsd:string" />
            <xsd:element name="Ap_paterno" type="xsd:string" />
            <xsd:element name="Ap_materno" type="xsd:string" />
            <xsd:element name="Genero" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nombrepropioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombrepropioReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validadigito">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Rut" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validadigitoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validadigitoReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validarutRequest">
    <wsdl:part name="parameters" element="impl:validarut" />
  </wsdl:message>
  <wsdl:message name="nombrepropioResponse">
    <wsdl:part name="parameters" element="impl:nombrepropioResponse" />
  </wsdl:message>
  <wsdl:message name="nombrepropioRequest">
    <wsdl:part name="parameters" element="impl:nombrepropio" />
  </wsdl:message>
  <wsdl:message name="validadigitoResponse">
    <wsdl:part name="parameters" element="impl:validadigitoResponse" />
  </wsdl:message>
  <wsdl:message name="validadigitoRequest">
    <wsdl:part name="parameters" element="impl:validadigito" />
  </wsdl:message>
  <wsdl:message name="validarutResponse">
    <wsdl:part name="parameters" element="impl:validarutResponse" />
  </wsdl:message>
  <wsdl:portType name="redes">
    <wsdl:operation name="validarut">
      <wsdl:input name="validarutRequest" message="impl:validarutRequest" />
      <wsdl:output name="validarutResponse" message="impl:validarutResponse" />
    </wsdl:operation>
    <wsdl:operation name="nombrepropio">
      <wsdl:input name="nombrepropioRequest" message="impl:nombrepropioRequest" />
      <wsdl:output name="nombrepropioResponse" message="impl:nombrepropioResponse" />
    </wsdl:operation>
    <wsdl:operation name="validadigito">
      <wsdl:input name="validadigitoRequest" message="impl:validadigitoRequest" />
      <wsdl:output name="validadigitoResponse" message="impl:validadigitoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="redesSoapBinding" type="impl:redes">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarut">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="validarutRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validarutResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nombrepropio">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="nombrepropioRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nombrepropioResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validadigito">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="validadigitoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validadigitoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="redesService">
    <wsdl:port name="redes" binding="impl:redesSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/redes" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>